
:root{
  --pink:#ff4081;
}
body{
    margin: 0;
    padding:0;
    font-family:lato sans-serif;
}
#navbar{
  width:100vw;
  background-color: #192024;
  font-weight: bold;
}
ul{
  list-style: none;
  margin: 0;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding:1em 0;
  margin-right: 30px;
  padding:25px;
}
li a{
  text-decoration:none ;
  color:white;
  padding: right 5em; 
  position:relative; 
  transition:all ease-in-out 250ms; 
  font-size: 30px;
}
li a::after{
  content: "";
  position: absolute;
  display:block ;
  height: 0.4em;
  width:0% ; 
  background-color:var(--pink);
  bottom:-1em;
  transition:all ease-in-out 250ms; 
}
li a:hover::after{
  width:60%;
}
li a:hover{
background-color:var(--pink); 

}
 ul :first-child{ 
 margin-right:auto ;
 margin-left :50px; 

} 

body {
  background-image: url("images/lap.jpeg");
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.title{
  text-align: center;
  margin: top 40px; 
  padding-top:16% ;
  color:#ff4081;
}
.title h2{
 color:white; 
}
.name{
  position:absolute;
  top:30%;
  left:5%;
  transform:translate(-50,-50)
}
#container{
  min-height: 100hv;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
#myabout{
  margin-top: 22%;
  text-align: center;
  color:#ff4081;
  padding-right:15% ;
}
#about{
  background-color:black ;
  opacity:1;
}
.image{
  display:flex;
  
}
#image{
  margin-top:0 ;
}
#pam {
  padding-left:10%;
  color:white;
  font: size 40px; 
  
}
p{
  text-align: center;
  padding-right: 10px;
  opacity:1;
 
  
}
#me{
  opacity:0.5;
  text-align: center;
}