

:root{
  --pink:#ff4081;
}

body{
    margin: 0;
    padding:0;
    font-family:lato sans-serif;
}


#navbar{
  width:100vw;
  background-color: #192024;
  font-weight: bold;
  position:fixed;
}

ul{
  list-style: none;
  margin: 0;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding:1em 0;
  margin-right: 30px;
  padding:25px;
}


li a{
  text-decoration:none ;
  color:white;
  padding: right 5em; 
  position:relative; 
  transition:all ease-in-out 250ms; 
  font-size: 30px;
}


li{
  color:white;
  font-size: 30px;
}


li a::after{
  content: "";
  position: absolute;
  display:block ;
  height: 0.4em;
  width:0% ; 
  background-color:var(--pink);
  bottom:-1em;
  transition:all ease-in-out 250ms; 
}


 li a:hover::after{
  width:60%; 
}
/* 
#navbar2:hover::after{
 color:#ff4081;
 width:60%; 
}  */
li a:hover{
background-color:var(--pink); 

}


 ul :first-child{ 
 margin-right:auto ;
 margin-left :50px; 
} 


body {
  background-image: url("images/lap.jpeg");
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}


.title{
  text-align: center;
  margin: top 40px; 
  padding-top:16% ;
  color:#ff4081;
}


.title h2{
 color:white; 
}


.name{
  position:absolute;
  top:30%;
  left:5%;
  transform:translate(-50,-50)
}


#container{
  min-height: 100hv;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}


#myabout{
  margin-top: 22%;
  text-align: center;
  color:#ff4081;
  padding-right:15% ;
  font-size:40px ;
  margin-left:20% ;
}


#about{
  background-color:black ;
  opacity:1;
}

.image{
  display:flex; 
}


#image{
  margin-top:0 ;
  padding-left: 30px;
  border-radius:5px ;
}


#pam {
  padding-left:10%;
  color:white;
  font: size 60px; 
  margin-top: 8%;
}


#p1{
  text-align: center;
  padding-right: 10px;
  opacity:1;
  font-size:22px ; 
  margin-left:5px; 
}

#me{
  opacity:0.5;
  text-align: center;
  font-size:30px ;
}


span{
  color: #ff4081;
}


.resu{
  margin-top:10% ;
}



#resume{
  border:solid#ff4081;
  background-color: #ff4081;
  color:white;
  text-align: center;
  width:50%;
  height:100% ;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right:5%;
  padding-left:5% ;
  font: size 25px; 
  border-radius: 30px;
  text-decoration: none;
  margin-left: 40%;
  margin-bottom:10% ; 
}

.projectsPage{
  display:flex;
}


#projects{
  background-color: black;
 opacity:1 ;
 padding-bottom:20%;
}


#myprojects{
  text-align:center ;
  color:#ff4081;
  font-size:40px ;
  padding-right:20%;
  margin-top:28px;
  margin-left:20% ;
}


.card{

  box-shadow: 0 4px 5px;
  transition: 0.3s;
  width: 20%;
  padding-left: 30px;
  margin-top:3%; 
  margin-right:5% ;
  margin-left:5% ;
  padding: 30px;
  background-color:rgb(66, 51, 51);  
}

#card1{
  border:solid var(--pink);
  background-color: var(--pink);
  color:white;
  text-align: center;
  margin-top:30% ;
  margin-left:33% ;
  font-size: 30px; 
  text-decoration: none;
}

.container{
  color:white;
}


.card:hover{
  box-shadow: 0 8px 16px 0 #ff4081;
}


#site{
  text-align:center;
}



 #app{
   text-align:center ;
 }


 #contact{
   background-color: black;
   margin-top: 30px;
   
   
   
 }

 #myContact{
  text-align:center ;
  color:#ff4081;
  font-size:40px ;
  padding-right:20%;
  margin-top:10%;
  margin-left:20% ;
 }

 #main{
   color:white;
   text-align:center;
   padding-top:6% ;
 }


 .contact{
   display:flex;
   color:white;
   margin-left:42% ;
   margin-top: 8%;
 
  }

 i{
   font-size: 20px;
   opacity:1;
 }

 #p2{
   color:white;
   opacity:0.3;
   margin-top: 10%;
   text-align: center;
   font-size: 22px;
 }

#icon{
  padding-left: 1%;
  color:white;
  margin-left: 10px;
   padding-right: 10px;
}
#skills{
  text-align:center ;
  color:#ff4081;
  font-size:40px ;
  padding-right:20%;
  margin-top:10%;
  margin-left:20% ;
}
.skillsPage{
  display: flex;
}
#skill{
  color:white;
}
.row2{
  display: flex;
}
.s1{
  width: 50%;
  padding-left: 30px;
  margin-top:1%; 
  margin-right:5% ;
  margin-left:5% ;
  padding: 20px;

}
#h1{
  color:white;
  margin-left:31px ;
}
#h2{
  color:white;
  margin-left:35% ;
}
#h3{
  color:white;
  margin-left: 32%;
}
#h4{
  color:white;
  margin-left:30% ;
}
